@import url('https://fonts.googleapis.com/css?family=Niramit:300,300i,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    background: #1e1e2f;
    letter-spacing: 0.5px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#legend {
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    align-content: flex-end;
    /* position */
    position: absolute;
    right: 10px;
    bottom: 30px;
    /* style */
    border: 1px solid #929292;
    border-radius: 7px;
    background-color: white;
    /* spacing */
    padding: 7px;
    max-width: calc(100% - 30px);
    /* fading */
    opacity: 0;
    transition: opacity 0.5s;
}

#legend-toggle.active {
    background-color: rgb(0 0 0/15%);
}

#legend.hidden {
    opacity: 1;
}


.legend-entry {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 3px;
    opacity: 0.8;
}

.legend-entry svg {
    width: 30px;
    height: 30px;
}


/* Header */
#header {
    background-color: hsl(142deg 12% 45% / 85%);
    height: 60px;
    width: 100%;
    position: absolute !important;
    display: flex !important;
    align-items: center !important;
    z-index: 1;
    box-shadow: 0 4px 2px -1px rgb(0 0 0 / 15%);
    justify-content: space-between;
    padding: 0 40px;
}

#header #logo {
    height: 40px;
    vertical-align: middle;
}

#header a:link,
#header a:visited {
    padding-left: 15px;
    color: white;
}

/* Mapbox  */
.mapboxgl-ctrl-top-right {
    margin-top: 60px;
}


/* The Modal (background) */
#modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 2;
    /* Full screen */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}


#modal>div {
    margin: auto;
    max-width: 700px;
    width: 75%;
    padding: 25px;
    background: #fff;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#modal>div>h3 {
    margin-top: 15px;
}




/* ---- Tooltip ------------------------ */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltiptext>button {
    width: 100%;
    color: #fff;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Left tooltip */
.tooltip-left {
    bottom: auto;
    right: 115%;
    top: -90px;
}

/* Left tooltip arrow */
.tooltip-left::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

/* ---- ^^ Tooltip ------------------------  */